<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Objetivos</title>
</head>

<body>

    <input type="hidden" id=objetivo-id value="{{objetivo.id}}">
    <div class="container">
        <form>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="objetivo">Objetivo</label>
                        <textarea class="form-control" name="objetivo" id="objetivo"
                            rows="4">{{objetivo.descripcion}}</textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="metrica">Métrica</label>
                        <input type="text" name="metrica" class="form-control" id="metrica"
                            value="{{objetivo.metrica}}">
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="meta-ascendente"
                                {% if objetivo.meta_ascendente %} checked {% endif %}>
                            <label class="form-check-label" for="defaultCheck1">
                                Meta Ascendente
                            </label>
                        </div>
                    </div>

                    <div class="form-group form-field">
                        <button type="button" id="actualizar-objetivo" class="btn btn-primary">Actualizar Objetivo</button>
                    </div>
                    </span><a href="/" style="margin-left: -45px;" class="btn btn-dark">Regresar</a></span>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-8">
                    <div class="box-element">
                        <div id="guardar-consecucion-error"></div>
                        <input type="hidden" id="consecucion-id" value="0">

                        <div class="form-field">
                            <input required class="form-control" id="agregar-descripcion" type="text" name="descripcion"
                                placeholder="Descripción">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" id="agregar-meta" type="number" min="0" max="100"
                                name="meta" placeholder="Meta">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" id="agregar-porcentaje" type="number" min="0"
                                name="consecucion" placeholder="% Consecución">
                        </div>
                        <div class="form-field">
                            <button id=agregar-btn type="button" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <br>

        <div class="row">
            <div class="col-lg-8">
                <div class="box-element">
                    <div class="consecucion-row">
                        <div style="flex:2"><strong>Descripcion Meta</strong></div>
                        <div style="flex:1"><strong>Meta</strong></div>
                        <div style="flex:1"><strong>% Consecucion</strong></div>
                        <div style="flex:2"></div>

                    </div>
                    <div id=consecucion-wrapper>
                        {% for consecucion in consecuciones %}
                        <div id=consecuciones-row-{{consecucion.id}} class="consecucion-row">
                            <div style="flex:2">
                                <p id="descripcion-{{consecucion.id}}">{{consecucion.descripcion}}</p>
                            </div>
                            <div style="flex:1">
                                <p id="meta-{{consecucion.id}}">{{consecucion.meta|floatformat:2}}</p>
                            </div>
                            <div style="flex:1">
                                <p id="porcentaje-{{consecucion.id}}">{{consecucion.porcentaje|floatformat:2}}</p>
                            </div>
                            <div style="flex:2">
                                <button type="button" onclick="editar(this)" id="{{consecucion.id}}"
                                    class="btn btn-primary">Editar</button>
                                <button type="button" onclick="borrar(this)" id="{{consecucion.id}}"
                                    class="btn btn-danger borrar"> Borrar</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div id="error-calcular"></div>
                <div class="box-element-result">
                    <div class="consecucion-row">
                        <div style="flex:1"><strong>Resultado</strong></div>
                        <div style="flex:1"><strong>% Consecucion</strong></div>
                    </div>


                    <div class="consecucion-row">
                        <div style="flex:1">
                            <input style="flex:1" id="resultado" class="form-control" type="number" value="">
                        </div>
                        <div style="flex:1">
                            <input style="flex:1" id="consecucion-porcentaje" class="form-control" type="text"
                                value="0%" readonly>
                        </div>

                    </div>

                    <div class="consecucion-row">
                        <div style="flex:1">
                            <button type="button" id="calcular-btn" class="btn btn-secondary">Calcular</button>
                            <div style="flex:1">

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>




    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
</body>

</html>